<article class="blog">

    <div class="container mb-5">
      <div class="card streched-link w-75 text-left mx-auto" href='{{ .Permalink }}'>

        <div class="card-body">
          <h2>{{ .Title }}</h2>
          {{ .Summary }}

          <div class="post-meta mt-3">
            {{ .PublishDate.Format "Jan 2, 2006" }} · {{ .ReadingTime}} min · {{ .Params.Author }} · {{ .FuzzyWordCount }} Words
          </div>

          <div>
            <a href='{{ .Permalink }}' class="stretched-link"><nobr></nobr></a>
          </div>
        </div>

      </div>
    </div>
  <footer>

  </footer>
</article>
