{{ define "main" }}
<!--blatantly just copied the list template I made.-->
    <main>
    <div class="container w-50">
        <h1>Sjmelck blog posts </h1>

        <p>Contained here is some content relating to the user selected tag: <b>{{ .Page.Name }}</b>.
            <br>
            Enjoy!
        </p>

    </div>
    <div>
<!--        Site.RegularPages was previously in .Pages but this broke with taxonomies -->
        {{ range (where .Pages "Section" "blog") }}
            {{ .Render "summary" }}
        {{ end }}
    </div>

</main>
{{ end }}
