/* This is how you add comments */

/* colour mode properties */
.bi-img{
    opacity: 1;
}

.socialIcon{
    font-size: 3em;
}
.previousIcon{
    font-size: 2em;
}

.section-nav a {
  text-decoration: none;
  display: block;
  padding: .125rem 0;
  color: #bbb;
  transition: all 50ms ease-in-out;
}

.section-nav a:hover,
.section-nav a:focus {
  color: #666;
  font-weight: 600;
}

@media only screen and (max-width: 1026px) {
    #toc-section {
        display: none;
    }
}
.video-shortcode {
  max-width: 100%;
  height: auto;
}

/*markdown image centering */
img[src$='#center']
{
    display: block;
    margin: 0.7rem auto; /* you can replace the vertical '0.7rem' by
                            whatever floats your boat, but keep the
                            horizontal 'auto' for this to work */
    /* whatever else styles you fancy here */
}

img[src$='#floatleft']
{
    float:left;
    margin: 0.7rem;      /* this margin is totally up to you */
    /* whatever else styles you fancy here */
}

img[src$='#floatright']
{
    float:right;
    margin: 0.7rem;      /* this margin is totally up to you */
    /* whatever else styles you fancy here */
}
