/* This is how you add comments */

/* colour mode properties */
.bi-img{
    opacity: 1;
}

.socialIcon{
    font-size: 3em;
}
.previousIcon{
    font-size: 2em;
}

.section-nav a {
  text-decoration: none;
  display: block;
  padding: .125rem 0;
  color: #bbb;
  transition: all 50ms ease-in-out;
}

.section-nav a:hover,
.section-nav a:focus {
  color: #666;
  font-weight: 600;
}

@media only screen and (max-width: 1026px) {
    #toc-section {
        display: none;
    }
}
.video-shortcode {
  max-width: 100%;
  height: auto;
}
