{{ $mode_img := "bi-sun" }}
{{ $active_state := "" }}
{{ $page_number := -1 }}
{{ $tmp_dir := "" }}

<header>
    <!--    code to get the correct highlights on the dropdown menu!-->

    {{ with .File }}
        {{ $tmp_dir = (.Path | path.Clean) | strings.TrimRight ".md" }}
    {{ end }}

    {{ $counter := 0 }}
    {{ range .Site.Menus.about }}

        {{ if eq .URL $tmp_dir }}
            {{ $page_number = $counter }}
        {{ end }}
        {{ $counter = add $counter 1 }}
    {{ end }}

    <nav class="navbar navbar-expand-lg bg-navbar sticky-top">
            <div class="container ">
                <div>
                    <a class="navbar-brand" href="{{ absURL "" }}" accesskey = "h" title="Sjmleck">
                        <i class="bi bi-robot"></i>
                        Sjmelck
                    </a>
                </div>

                <div id="colourSwitch">
                    <span>
                        <i id="colorSwitchToggle" onclick="ToggleColor()" class="bi bi-sun"></i>
                    </span>
                </div>

<!--                Setup the toggle button for the elements with the target id-->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>

<!--                Setup the division that collapses into the button-->
                <div class="collapse navbar-collapse" id = "navbarNav">
                    <ul class="navbar-nav nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ "" | absURL }}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ "blog/" | absURL }}">Posts</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                About us
                            </a>
                            <ul class="dropdown-menu">
                                {{ $counter := 0 }}
                                {{ range .Site.Menus.about }}

                                    {{ if eq $counter $page_number }}
                                        {{ $active_state = "active" }}
                                    {{ else }}
                                        {{ $active_state = "" }}
                                    {{ end }}

                                    <li>
                                    <a class="dropdown-item {{ $active_state }}" href="{{ absURL .URL }}">{{ .Name }}</a>
                                    </li>

                                    {{ $counter = add $counter 1 }}

                                {{ end }}
                            </ul>
                        </li>
                    </ul>
                </div>

            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>

            </div>

        </nav>

</header>
